.tr_title_request{
    border-bottom: solid;
    border-width: 1px;
    text-align: center;
    font-size: 1.5em;
    height: 3em;
}

.tr_content_request{
    text-align: center;
    font-size: 1em;
    height: 4em;
}

.div_info_request{
    width: 90em;
    height: 12em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8%;
    border: solid;
    border-color: black;
    border-width: 0.1em;
    border-radius:20px;
}

.div_button_request{
    width: 90em;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

.button_request{
    width:9em;
    height: 5em;
    background-color: rgba(0, 0, 0, 0);
    font-size:25px;
    padding: 0.5em 0em 0.5em 0em;
    border:solid;
    border-width: 0.07em;
    color:#B8B8B8;
    margin: 2em;
    border-radius:10px;
}

.button_request:hover{
    width:10em;
    height: 5em;
    background-color: rgba(0, 0, 0, 0);
    font-size:25px;
    padding: 0.5em 0em 0.5em 0em;
    border:solid;
    border-color: black;
    border-width: 0.09em;
    color:#B8B8B8;
    margin: 2em;
    border-radius:10px;
}


.tr_request{
    border-width: 1px;
    text-align: center;
    font-size: 1.5em;
    height: 3em;
}

.table_request{
    width:90%;
    margin-left: auto;
    margin-right: auto;
    vertical-align: center;
    border-collapse:collapse;
    margin-top: 2em;
}

