<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codes</title>
    <link href="css/table.css" rel="stylesheet" type="text/css" media="all"/>
    <script type="text/javascript" src="../static/js/Seats.js"></script>
    <link rel="shortcut icon" href="img/app_logo.png">
</head>
<body class="body_code">
<div class="div_info">
    <table id="table_seats" class="table_info">
        <tr>
            <td class="td_code"><p>13</p><img src='http://i2.bvimg.com/670260/ae49ebdd180ac31c.png'></td>
            <td class="td_code"><p>1</p><img src='http://i2.bvimg.com/670260/74df2d9f12d7571f.png'></td>
            <td class="td_code"><p>9</p><img src='http://i2.bvimg.com/670260/ab849c253b24073d.png'></td>
            <td class="td_code"><p>7</p><img src='http://i2.bvimg.com/670260/9333d48fecb2df3d.png'></td>
            <td class="td_code"><p>4</p><img src='http://i2.bvimg.com/670260/cf16ff0d0eeb2530.png'></td>
            <td class="td_code"><p>6</p><img src='http://i2.bvimg.com/670260/ebe906444470f216.png'></td>
        </tr>
    </table>
</div>
</body>
</html>