<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>座位请求</title>
        <link href="css/table.css" rel="stylesheet" type="text/css" media="all"/>
        <link href="css/request_seat.css" rel="stylesheet" type="text/css" media="all"/>
        <!--<link href="../static/css/table.css" rel="stylesheet" type="text/css" media="all"/>-->
        <!--<link href="../static/css/request_seat.css" rel="stylesheet" type="text/css" media="all"/>-->
    </head>
    <body>
        <div class="div_info_request">
            <table class="table_info">
                <tr class="tr_title_request">
                    <td>座位号</td>
                    <td>上座时间</td>
                    <td>离座时间</td>
                    <td>占座者</td>
                    <td>请求者</td>
                </tr>
                <tr class="tr_content_request">
                    <td>座位号</td>
                    <td>上座时间</td>
                    <td>离座时间</td>
                    <td>占座者</td>
                    <td>请求者</td>
                </tr>
            </table>
        </div>
        <div class="div_button_request">
            <table class="table_request">
                <tr class="tr_request">
                    <td><button class="button_request">同意</button></td>
                    <td><button class="button_request">拒绝</button></td>
                </tr>
            </table>
        </div>
    </body>
</html>